body {
    background-color: lightblue
}

h1 {
    color: rgb(243, 83, 9);
    margin-left: 50px;
}
table {
    color:azure;
}
h1,h2,h3,h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
h2,h3,h4 {
    color: coral;
}
div.one {
    font-size: x-large;
    border: 10px solid #AA88FF;
    background-color: #DDDDDD;
    padding: 20px;
}
div.two {
    color: palevioletred;
    Margin-left: 20px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
    Margin-left: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    outline-color: aquamarine;
    outline-style: dashed;
    outline-width: 10px;
}
footer {
    outline-style: double;
    outline-width: 10px;
}