body {
    background-color: rgb(212, 175, 233)
}

h1 {
    color: rgb(116, 73, 24);
    margin-left: 50px;
}
table {
    color:azure;
}
h1,h2,h3,h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
h2,h3,h4 {
    color: rgb(116, 73, 24);
}
div.one {
    font-size: x-large;
    border: 10px solid #AA88FF;
    background-color: #DDDDDD;
    padding: 20px;
}
div.two {
    color: palevioletred;
    Margin-left: 20px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p.intro {
    margin-left: 80px;
    text-align: center;
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
    Margin-left: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul+h1{
    outline-color: aquamarine;
    outline-style: dashed;
    outline-width: 10px;
}
footer {
    outline-style: double;
    outline-width: 10px;
    
}
div.Mason {
    border: 1px solid #c3c3c3;
    display: block;
    align-content: center;
}
img {
    border-radius: 50%;
}