body {
    background-color: lightblue
}

h1 {
    color: rgb(243, 83, 9);
    margin-left: 50px;
}
table {
    color:azure;
}
h1,h2,h3,h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}
h2,h3,h4 {
    color: coral;
}
p {
    Margin-left: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside {
    outline-color: coral;
}
